.RegisterPage {
    width: 750px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    /*padding-top: 20px;*/
}

.RegisterForm {
    margin-top: -30px;
    padding: 60px 50px;


    height: 100%;

}

.RegisterForm h1 {
    text-align: center;

}

.hr {
    border: 1px solid black;
    height: 1px;

}

.MemberLabel {
    width: 10px;
    padding-top: 14px;
    padding-left: 30px;
}

.MemberId {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberPw {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberPwConfirm {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberNickname {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberName {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberEmail {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberPhone {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberAddr {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}

.MemberId button {
    cursor: pointer;
    margin: 10px 20px 8px 20px;
    padding: 10px 20px;
    width: 100px;
    border-radius: 5px;
    border: 2px solid #FF7E5C;
    color: #FF7E5C;
    font-weight: bold;
}


.RegisterForm input {
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
    margin: 9px 20px 8px 0px;
}

.BtnGroup button {
    cursor: pointer;
    margin: 10px 20px 8px 0px;
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #FF7E5C;
    color: white;
}

