.detail {
    width:70%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.detailRightSpan{
    margin-top:50px;
}

.detailRightSpan span{
    font-weight: bold;
}

.detailRightSpan>p:last-child{
    display: flex;
}

.detailTop{
    display: flex;
    justify-content: space-between;
}

.detailTop>div:nth-child(1){
    width:40%;
    height:auto;
}

.detailTop>div:nth-child(1) img{
    border-radius: 10px;
}

.detailTop>div:nth-child(2){
    width:55%;
}

.detailTop>div:nth-child(2) h1{
    margin:20px 0;
}

.detailTop>div:nth-child(2) p{
    margin:20px 0;
}

.detailImgthumb {
    width: 100%; /* 부모 요소에 꽉 차게 하기 위해 */
    height: auto; /* 부모 요소에 꽉 차게 하기 위해 */
    object-fit: cover; /* 이미지가 요소에 맞춰져 채워지되, 비율을 유지 */
}

.detailBtn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cartBtn{
    margin: 30px 0 0 0;
    padding:15px 120px;
    background-color: #FD4818;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#FFF;
    font-weight: bold;
    font-size:15px;
}

.detailContent{
    margin-top:100px;
    padding-bottom: 20px;
    text-align: center;
    position: relative;
}

.detailContentTop>div{
    position: relative;
    padding-bottom: 50px;
}

.detailContentTop>div::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* 가로 크기만큼 설정 */
    height: 1px; /* 밑줄의 두께 설정 */
    background-color: black; /* 밑줄 색상 설정 */
}

.detailContentTop>div:nth-child(1){
    font-size: 50px;
    margin-bottom:30px;
}

.detailContentBtn{
    display: flex;
}
.detailContentBtn div{
    background-color: #f8f8f8;
    flex: 1; /* 모든 아이템에 동일한 비율의 공간 할당 */
    border: 1px solid #e0e0e0; /* 아이템들을 시각적으로 구분하기 위한 테두리 추가 */
    text-align: center; /* 텍스트를 가운데 정렬 */
    padding: 15px 0;
    margin-bottom: 50px;
}

.detailContentBtn div:hover{
    cursor: pointer;
    background-color: #e0e0e0;
}

.detailContentImg{
    margin-bottom:50px;
}

.detailContentImg>img{
    width:100%;
    height:auto;
}

.detailContentInfo{
    margin-top:50px;
    margin-left:20px;
    text-align: left;
}

.detailContentInfo span{
    font-weight:bold;
}

.tastingNote{
    margin-top:120px;
    width:100%;
    height:auto;
}


.detailBottom{
    margin:50px 0;
}

.detailBottom>img{
    width:100%;
    height:auto;
}

.detailBottom span{
    font-weight:bold;
}

.detailBottom div{
    margin:0 20px;
}

/* QuantityCouinter.js */
.quantity{
    display: flex;
    align-items: baseline;
}

.quantity span{
    font-weight: bold;
}

.quantity>div{
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}

.quantityInput{
    width:40px;
}

.quantityBtn{
    cursor: pointer;
    font-weight: bolder;
    font-size:15px;
    background-color: transparent;
    border:none;
    margin: 5px 10px;
}

.quantityInput{
    border: none;
    background-color: transparent;
    text-align: center;
}

/* review page */

.reviewContainer{
    width:70%;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.reviewTop{
    padding-bottom: 10px;
    border-bottom : 2px solid rgb(51, 51, 51);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewTop>div{
    padding:10px;
    background-color: #FD4818;
    border-radius: 10px;
    color:#FFf;
    font-weight: bold;
    cursor: pointer;
}

.reviewContentList{
    width:100%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.emptyReview{
    padding:200px 0;
    font-size: 16px;
    text-align: center;
}

.reviewContent{
    display: flex;
    padding:15px;
    border-bottom: 1px solid #000;
}

.reviewContentLeft{
    width:20%;
}

.reviewContentRight{
    width:80%;
    padding-left: 10px;
}

.reviewContentRight>div:nth-child(1){
    color:#b0b0b0;
    font-weight: bold;
    font-size: 12px;
}

.reviewContentRight>div:nth-child(2){
    margin:20px 0;
}

.reviewContentRight>div:nth-child(3){
    font-size: 12px;
}


/* review write */
.reviewWriteContainer{
    width:100%;
    height:100%;
}

.reviewWriteContainer h2{
    text-align: center;
    margin-bottom: 30px;
}

.reviewProduct{
    display: flex;
    align-items: center;
    width:80%;
    margin:0 auto;
}

.reviewProduct>div>img{
    width:80px;
    height:auto;
    margin-right: 15px;
}

.reviewProduct div span{
    font-weight: bold;
    margin:0 5px;
}

.starRating{
    text-align: center;
    padding:30px 0;
}

/* 별표 표시 클래스 */
.starRating p {
    visibility: hidden;
}

.starRating p.visible {
    visibility: visible;
}


.star {
    cursor: pointer;
    font-size: 50px;
    color: gray;
}

.star.gold {
    color: gold;
}

.reviewWriteContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reviewTextarea{
    width:80%;
    height:150px;
}

.reviewTextarea textarea{
    width:100%;
    height:100%;
    resize: none;
    padding:10px;
    font-family: 'HallymGothic-Regular';
    white-space:pre;
}

.characterCount{
    width: 80%;
    text-align: right;
}

.characterCount>span{
    text-align: right;
    font-size: 14px;
}

.reviewPrepareOrNot{
    width:80%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin:20px 0;

}

.reviewPrepareOrNot>div:nth-child(1){
    padding:12px 30px;
    width:49%;
    background-color: #eaeaea;
    border-radius: 5px;
    cursor: pointer;
}

.reviewPrepareOrNot>div:nth-child(2){
    padding:12px 30px;
    width:49%;
    background-color: #FD4818;
    border-radius: 5px;
    cursor: pointer;
}


/* scroll to top */
.scrollToTopButton {
    position: fixed; /* 화면에 고정 */
    bottom: 100px; /* 하단 여백 설정 */
    right: 30px; /* 오른쪽 여백 설정 */
    z-index: 999; /* 다른 요소 위에 표시되도록 설정 */
    cursor: pointer;
}

/* 버튼이 숨겨진 상태일 때 */
.scrollToTopButton.hidden {
    display: none;
}


/* review modal */
.modal {
    /*display: none;*/ /* 모달은 초기에 숨겨져 있음 */
    position: fixed; /* 페이지 스크롤에 영향을 받지 않음 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 배경에 반투명한 검정색 */
    z-index: 1000; /* 다른 요소보다 위에 위치 */
}

.modalContent {
    position: absolute;
    width:50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 화면 중앙에 위치하도록 설정 */
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* 그림자 효과 추가 */
}

.modalClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
    margin-right: 10px;
}