.MyPageForm {
    width: 65%;
    height: auto;
    margin: 0 auto;
    display: flex;
    gap: 30px;
    padding-top: 20px;
    padding-bottom: 30px;
}
.MyPageTitle {
    padding-top: 10px;
}
.MyPageTitle h1 {
    padding-bottom: 15px;
}

.MyPageSideBar {
    width: 200px;
    height: 595px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 1px solid black;
    cursor: pointer;
}

.MyPageSubTitle {
    width: 70%;
    padding-top: 10px;
    padding-bottom: 30px;

}

.MyPageSubTitle h1 {
    border-bottom: 2px solid black;
    padding-bottom: 15px;

}

.SubTitleDetail {
    height: auto;
    padding-top: 20px;
    padding-left: 10px;
}

/* OrderDelivery */
.orderDeliveryTitle{
    padding:10px;
    margin:10px 0;

    cursor: pointer;
    border: 1px solid #FD4818;
    border-radius: 5px;
    background-color: #FFF;

    display: flex;
    justify-content: space-between;
}

.redText {
    color: red;
    font-weight: bold;
}

.orderDeliveryCancelNotice{

}

.orderDeliveryTitle.expanded {
    background-color: #FF7E5C;
    border: none;
}

.orderDeliveryContent{
    display: flex;
    justify-content: space-between;
}

.orderCancelBtn{
    cursor: pointer;
    background-color: #FD4818;
    color:#FFF;
    border-radius: 5px;
    padding:7px;
    font-size:15px;
}