

.MemberInfo input {
    padding: 10px 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
}

.MemberLabel {
    width: 160px;
    padding-top: 8px;
    padding-left: 30px;
}
.MemberInput {
    width: 300px;
}

.MemberId {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberPw {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberPwConfirm {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberNickname {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberName {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberEmail {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberPhone {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.MemberAddr {
    display: flex;
    width: 100%;
    padding: 10px 20px;
}
.SubmitBtn button{
    cursor: pointer;
    width: 100px;
    height: 45px;
    border: none;
    border-radius: 5px;
    background-color: #FF7E5C;
    color: white;
    font-weight: bold;
    margin-right: 20px;
}
.BtnGroup {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    padding-left: 180px;
    border-top: 1px solid rgb(244, 244, 244);
}
.MemberPw p {
    font-size: 12px;
    color: rgb(240, 63, 64);
    margin-top: 3px;
    margin-left: 5px;
}
.MemberPwConfirm p {
    font-size: 12px;
    color: rgb(240, 63, 64);
    margin-top: 3px;
    margin-left: 5px;
}