ul {
    list-style: none;
}

li {
    float: left;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    color: #888;
    font-size: 14px;
}
.wrapper .link {
    height: 25px;
    line-height: 25px;
    text-decoration: none;
}
/*
.page {
    display: inline-block;
    width: 40px; !* 페이지네이션 버튼의 너비 조정 *!
    height: 40px; !* 페이지네이션 버튼의 높이 조정 *!
    line-height: 40px; !* 페이지네이션 버튼의 텍스트 가운데 정렬 *!
    text-align: center; !* 페이지네이션 버튼의 텍스트 가운데 정렬 *!
    border-radius: 50%; !* 원형 모양으로 설정 *!
    border: 1px solid #ccc; !* 테두리 설정 *!
    margin: 0 10px; !* 페이지네이션 버튼 간격 조정 *!
}
*/

.page {
    display: inline-block;
    width: 40px; /* 페이지네이션 버튼의 너비 조정 */
    height: 40px; /* 페이지네이션 버튼의 높이 조정 */
    line-height: 40px; /* 페이지네이션 버튼의 텍스트 가운데 정렬 */
    text-align: center; /* 페이지네이션 버튼의 텍스트 가운데 정렬 */
    border-radius: 50%; /* 원형 모양으로 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    margin: 0 10px; /* 페이지네이션 버튼 간격 조정 */
    position: relative; /* 상대적인 위치 설정 */
}

.page:hover {
    background-color: #FFF; /* 마우스 호버 시 배경색 변경 */
}

.icon, .move:last-child::after, .move:first-child::before {
    position: absolute;
    font-size: 20px;
    padding: 0 7px 0;
}

.move {
    position: relative;
    cursor: pointer;
    margin: 0 10px;
}
.move .link {
    width: 50px;
    display: block;
    z-index: 10;
}

.move:first-child {
    text-align: right;
}

/*
.move:first-child::before {
    content: "<<";
    left: 0;
}
.move:last-child::after {
    content: ">>";
    right: 0;
}
*/

.invisible {
    visibility: hidden;
}


.active {
    border-radius: 50%;
    background-color: #FF7E5C; /* 활성화된 페이지네이션 버튼 배경색 설정 */
    color: white; /* 활성화된 페이지네이션 버튼 텍스트 색상 설정 */
}

.page .link {
    padding: 5px 10px;
}

.page .link {
    position: absolute; /* 절대적인 위치 설정 */
    top: 50%; /* 상위 요소의 50% 위치로 이동 */
    left: 50%; /* 상위 요소의 50% 위치로 이동 */
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    display: inline-block;
    width: 100%;
    height: 100%;
    text-decoration: none;
}

.pageNumber {
    display: inline-block;
    vertical-align: middle;
}