*{margin:auto;}

.detailContainer {
    margin-top:30px;
    width:70%;
    background-color: lightgreen;
}

.detailTop{
    display: flex;

}

.detailTop>div:nth-child(1){
    background-color: lightpink;
}

.detailTop>div:nth-child(1) img{
    border-radius: 10px;
}

.detailTop>div:nth-child(2){
    background-color: lightcyan;
}

.detailImgthumb{
    width:400px;
    height:auto;
}