.detail {
    width:70%;
    background-color: lightgreen;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.detailTop{
    display: flex;
    justify-content: space-between;
}

.detailTop>div:nth-child(1){
    width:40%;
    height:auto;
    background-color: lightpink;
}

.detailTop>div:nth-child(1) img{
    border-radius: 10px;
}

.detailTop>div:nth-child(2){
    width:55%;
    background-color: lightcyan;
}

.detailTop>div:nth-child(2) h1{
    margin:20px 0;
}

.detailTop>div:nth-child(2) p{
    margin:20px 0;
}

.detailImgthumb {
    width: 100%; /* 부모 요소에 꽉 차게 하기 위해 */
    height: auto; /* 부모 요소에 꽉 차게 하기 위해 */
    object-fit: cover; /* 이미지가 요소에 맞춰져 채워지되, 비율을 유지 */
}

.cartBtn{
    margin: 30px 0 0 0;
    padding:10px 50px;
}

.detailContent{
    margin-top:100px;
    text-align: center;
    position: relative;
}

.detailContent>div:nth-child(1){
    font-size: 50px;
    margin-bottom:30px;
}

.detailContent::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%; /* 가로 크기만큼 설정 */
    height: 1px; /* 밑줄의 두께 설정 */
    background-color: black; /* 밑줄 색상 설정 */
}
