@font-face {
    font-family: 'HallymGothic-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2204@1.0/HallymGothic-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF7E5C;
    padding: 5px 30px;
}

img {
    height: 40px;
    margin-right: 8px;
}

.HeaderLink{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.HeaderLogo p {
    font-size: 25px;
    font-weight: bold;
    font-family: "Verdana";
    text-decoration: line-through;
}

.HeaderMenu button {
    background-color: transparent;
    border: transparent;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    margin-left: 20px;
}