.CategoryNewPost {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.NewPostDiv{
    line-height: 38px;
    text-align: center;
    font-size: 14px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    border: 1px solid rgba(222, 222, 222, 0.78);
    background-color: #FF7E5C;
    font-weight: bold;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
.NewPostDiv:hover {
    background-color: rgba(255, 78, 34, 0.86);
    transform: scale(1.05);
}
.NewPostDiv:active{
    background-color: rgba(255, 163, 141, 0.86);
}