.Board-Detail-Container{
    width: 100%;
    display: flex;
}
/* 게시글 */
.Board-Detail-Post-Container{
    width: 60%;
    height: 827px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px;
}
/**/
.Board-Detail-Profile{
    width: 80%;
    display: flex;
    flex-direction: row;
}
.Profile-Setting{
    margin-left: auto;
}
/**/
.Board-Detail-TitleAndContent{
    width: 80%;
    text-align: left;
}

.TitleAndContent-Title{
    margin-top: 20px;
}

.TitleAndContent-Img{
    margin-bottom: 20px;
    height: 300px;
    border: 1px solid black;
}
.TitleAndContent-Content{
    margin-top: 30px;
    height: 200px;
}
/**/
.Board-Detail-DateAndViews{
    display: flex;
    flex-direction: row;
}
.DateAndViews-Views{
    margin-left: auto;;
}

.de{
    width: 1px;
    background-color: #b4b4b4;
}

.Board-Detail-Comment-Container{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}