.BbsListContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.SlideAndBestPost{
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: center;
}
.NavContainer {
    width: 71%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.BoardListItem{
    width: 75%;
}
.DivLine{
    width: 73%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.49);
}

