.PostContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: minmax(250px, auto);
    grid-gap: 30px;
    align-items: center;
    padding: 20px;
}
.bbsPost {
    align-items: center;
    height: 240px;
    width: 100%;
    display: flex;
    flex-direction: column;
    border:2.5px solid rgba(159, 159, 159, 0.58);
    font-weight: bold;
    border-radius: 15px;
    background-size: 100%;
    max-height: 400px;
    max-width: 300px;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.9s ease;
}
.bbsPost:hover {
    background-color: rgba(255, 53, 8, 0.21);
}
.bbsPostBackground{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90%;
    height: 90%;
    cursor: pointer;
    background-size: cover;
    background-position: center;
    border-radius: 13px;
}
.bbsPost h3{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    word-break: break-all;
}
.bbsPost:hover {
    transform: scale(1.03);
}
.PostDetailTop{
    text-align: center;
}
.PostDetailBottom{
    display: flex;
    justify-content: space-between;
}
.LikeButton{
}

.ReplyComment{
    display: flex;
    flex-direction: row;
}
.ReplyComment p{
    margin-right: 8px;
    color: rgba(121, 121, 121, 0.94);
    font-size: 14px;
    margin-left: 5px;
}
.bbsPost img{

}
.PostDetailBottomCVItem{
    margin-right: 8px;
    color: rgba(121, 121, 121, 0.94);
    font-size: 18px;
}
.PostDetailBottomCVItem p{
    margin-right: 8px;
    color: rgba(121, 121, 121, 0.94);
    font-size: 14px;
    margin-left: 5px;
}
.PostDetailBottomCV{
    display: flex;
    flex-direction: row;
}
.Views{
    display: flex;
    flex-direction: row;
}
.PostDetailBottomItem{
    margin-left: 25px;
}
.SearchAndCategory{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.DetailNavSearchArea{
    width: 97%;
    position: relative;
    text-align: right;
}
.DetailNavSearchArea input{
    text-align: center;
    height: 30px;
    border-radius: 10px;
    border: 1px solid gray;
    transition: transform 0.3s ease;
}
.DetailNavSearchArea input:focus {
    transform: scale(1.2);
}
.BoardListCreateDate{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #9b9b9b;
    padding: 0 20px;
}
.ListCategory-select{
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}
.ListCategory-selectItem{
    font-size: 20px;
    font-weight: bold;
    margin-right: 50px;
    color: #333;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.ListCategory-selectItem:hover{
    color: #555;
}
.ListCategory-selectItem.selected{
    color: #FF7E5C;
    transform: scale(1.3);
}
.loadingAndNothing{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 80px;
}
.hoveredImageContainer{
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    position: absolute;
    margin-bottom: 125px;
    margin-left: 180px;
    opacity: 0.6;
}

