.BbsListContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 슬라이드 영역 */
.SlideAndBestPost{
    width: 100%;
    display: flex;
    padding: 100px;
    justify-content: center;
}
/* 네비게이션 영역 */
.NavContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}/*
/* 게시글 영역 */
.BoardListItem{
    width: 75%;
}
/* DIV 선*/
.DivLine{
    width: 73%;
    height: 2px;
    background-color: rgba(128, 128, 128, 0.49);
}

