.SlideAndBestPostArea{
    display: flex;
    flex-direction: row;
}
.BestPostArea {
    width: 720px;
    margin-top: 20px;
}

.BestPostDetail.Header {
    display: flex;
    background-color: #ffffff;
    font-weight: bold;
}
.BestPostDetail {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #e8e8e8;
    transition: transform 0.3s ease, background-color 0.9s ease;
}
.BestPostDetail div{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.BestPostDetail.odd {
    background-color: #ffffff;
}
.Best{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 10px;
    font-size: 20px;
}
.BestPostDetail.even {
    background-color: rgba(255, 255, 255, 0.16);
}
.BestPostDetail > div {
    flex: 1;
    text-align: center;
}
.BestPostDetail > div.BestTitle {
    flex: 4;
}
.BestPostDetail > div.BestDate{
    flex: 2.5;
}
.BestPostDetail:hover {
    background-color: rgba(255, 78, 34, 0.69);
}
.BestTitleDetail{
    color: #ffc3a0;
}

