*{
    text-align: center;
    color: rgba(65, 65, 65, 0.89);

}
.BbsWriteContainer{

}
.WriteArea{
    width: 80%;
    height: 1000px;
    border: 1px solid black;
}
.context{
    width: 800px;
    height: 700px;
}
