.BbsWriteContainer{
    display: flex;
    justify-content: center;
    padding: 100px;
}
.context{
    width: 800px;
    height: 700px;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable) {

    min-height: 400px;
    margin-bottom: 20px;
    font-size: 14px;
}

.ContentArea{
    width: 1000px;
    position: relative;
}
.TitleArea{
    position: relative;
}
.TitleArea label{
    display: inline-block;
    left: 5px;
    position: absolute;
    font-size: 11px;
    color: #888;
    font-weight: bold;
    height: 18px;
    border-radius: 15px;
    top: -15px;
}
.TitleArea label span{
    color: #da4841;
    vertical-align: -1px;
}
.TitleArea input{
    width: 1000px;
    height: 40px;
    border-radius: 12px;
    border: 1px solid rgba(187, 187, 187, 0.68);
    margin-bottom: 20px;
    font-size: 14px;
}
 .TitleArea input[type="text"]{
    padding: 10px;
    font-size: 14px;
}
.ContentArea label{
     display: inline-block;
     left: 5px;
     position: absolute;
     font-size: 11px;
     color: #888;
     font-weight: bold;
     height: 18px;
     border-radius: 15px;
     top: -15px;
 }
.ContentArea label span{
    color: #da4841;
    vertical-align: -1px;
}
.category-select{
    position: relative;
}
.category-select label{
    display: inline-block;
    left: 5px;
    position: absolute;
    font-size: 11px;
    color: #888;
    font-weight: bold;
    height: 18px;
    border-radius: 15px;
    top: -15px;
}
.category-select label span{
    color: #da4841;
    vertical-align: -1px;
}
.ButtonArea{
    display: flex;
}
.submitButton{
    margin-left: 5px;
    width: 80px;
    height: 40px;
    border-radius: 12px;
    cursor: pointer;
    border: 1px solid rgba(222, 222, 222, 0.78);
    background-color: #FF7E5C;
    transition: transform 0.3s ease;
}
.submitButton:hover{
    background-color: rgba(255, 78, 34, 0.86);
    transform: scale(1.05);
}
.submitButton:active{
    background-color: rgba(255, 163, 141, 0.86);
}
.category-select {
    margin-bottom: 10px;
}
select {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 16px;
}
.ImageUploadArea{
    position: relative;
}
.ImageUploadArea label{
    display: inline-block;
    left: 5px;
    position: absolute;
    font-size: 11px;
    color: #888;
    font-weight: bold;
    height: 18px;
    border-radius: 15px;
}
.ImageUploadArea label span{
    color: #da4841;
    vertical-align: -1px;
}
.ImageUploadArea input[type="file"] {
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
    margin-top: 15px;
}
.ImageUploadArea input[type="file"]::file-selector-button {
    display: none;
}